<html>
<head>
	<body>
		<form id = "newform" method = "POST" action="/input">
			<input type = "text" name="what" value = "<%=qs.word%>">
			<input type = "submit" value = "submit"/>	
		</form>
		</body>
</head>
</html>
